@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: #1894ce;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

header h1 {
    padding: 1em 0;
    font-size: 2rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(211, 226, 231);
    padding: 3em 0 2em;
}

footer {
    padding: .8em 0 0;
}

/* Tela da calculadora */
#tela {
    background-color: #195521;
    height: 5em;
    width: 80%;
    padding: .7em .5em;
    font-weight: bold;
    text-align: right;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    position: relative;
}

#formula-txt {
    font-size: 1.2rem;
}

#atual-txt {
    font-size: 2.3rem;
    position: absolute;
    bottom: .35em;
    right: .25em;
}

/* Teclado da calculadora */
#teclado {
    margin-top: .6em;
    width: 80%;
    height: 45vh;
}

tr {
    height: 20%;
}

td {
    width: 20%;
    height: 20%;
    position: relative; /* Sem o position relative, o botão de igual oculpa tela toda */
}

.bt {
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    line-height: 1em; /* Remove diferença de altura entre os botões */
}

#bt-igual {  /* Sem position absolute, não é possível fazer o botão preencher 2 fileiras */
    position: absolute;
    right: 0;
    top: 0;
    background-color: #9fdfa7;
}

.bt-sinal {
    background-color: #ffcece;
}

.bt-outro {
    background-color: #dccaff;
}

#bt-frac {
    background-color: #edf0c0;
}

@media only screen and (min-width: 600px) and (max-height: 599px) {
    header, footer {
        display: none;
    }

    main {
        height: 100vh;
        box-sizing: border-box;
        padding: 1.5em 0 0;
    }

    #teclado {
        height: 70%;
    }

    .bt  {
        font-size: 5vh;
    }
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
    main {
        max-width: 600px;
        margin: 0 auto;
        border-radius: 20px;
    }
}